*.class
*.jar
*jar
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.nrepl-port
/checkouts
/classes
/classes/
/lib
/lib/
/log
/target
/targets/
/tmp
config/config.yml
config/traits.yml
config/accepted-repositories.yml
pom.xml
pom.xml.asc
src/cider_ci/self.clj
